// resource.rc
// Этот файл был автоматически создан RisohEditor 5.8.5.
// † <-- Этот крестик помогает определять UTF-8.

#include "resource.h"
#define APSTUDIO_HIDDEN_SYMBOLS
#include <windows.h>
#include <commctrl.h>
#undef APSTUDIO_HIDDEN_SYMBOLS
#pragma code_page(65001) // UTF-8

//////////////////////////////////////////////////////////////////////////////


LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

//////////////////////////////////////////////////////////////////////////////

// RT_VERSION

1 VERSIONINFO
FILEVERSION     0, 1, 50, 2
PRODUCTVERSION  0, 1, 50, 2
FILEOS          0x40004
FILETYPE        0x1
FILESUBTYPE     0x0
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904E4"
        {
            VALUE "CompanyName", "Danila A. Kondratenko\0"
            VALUE "FileDescription", "Application installation manager\0"
            VALUE "FileVersion", "0.1.50.2\0"
            VALUE "LegalCopyright", "Copyright (C) 2024 Danila A. Kondratenko\0"
            VALUE "ProductName", "Post-Install Manager\0"
            VALUE "ProductVersion", "0.1.50.2\0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0419, 0x04E4
    }
}

//////////////////////////////////////////////////////////////////////////////

// RT_MANIFEST

1 24 "res/Manifest_1.manifest"

//////////////////////////////////////////////////////////////////////////////


LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

//////////////////////////////////////////////////////////////////////////////

// RT_MESSAGETABLE

0x1 MESSAGETABLE "res/1033_MessageTable_1.bin"

//////////////////////////////////////////////////////////////////////////////


LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT

//////////////////////////////////////////////////////////////////////////////

// RT_DIALOG

IDD_PROCESS DIALOG 0, 0, 317, 143
CAPTION "Установка программ"
STYLE DS_CENTER | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
FONT 9, "MS Shell Dlg"
{
    LTEXT "Пожалуйста, подождите...", IDC_STATUS, 21, 7, 276, 8
    LTEXT "Идет установка программы %s...", IDC_INSTALLING, 21, 22, 276, 8
    CONTROL "", IDC_PROGRESS, "msctls_progress32", PBS_SMOOTH, 21, 37, 276, 14
    LISTBOX IDC_COMMANDS, 21, 58, 276, 81, LBS_NOINTEGRALHEIGHT | LBS_USETABSTOPS | LBS_HASSTRINGS | WS_VSCROLL
}

IDD_SELECT DIALOG 0, 0, 317, 143
CAPTION "Выбор программ"
STYLE DS_CENTER | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
FONT 9, "MS Shell Dlg"
{
    CONTROL "", IDC_PROGLIST, "SysListView32", LVS_REPORT | WS_BORDER, 21, 22, 276, 117
    LTEXT "Пожалуйста, выберите программы из списка доступных", -1, 21, 7, 275, 8
}

//////////////////////////////////////////////////////////////////////////////

// RT_MESSAGETABLE

0x1 MESSAGETABLE "res/1049_MessageTable_1.bin"

//////////////////////////////////////////////////////////////////////////////

// RT_STRING

STRINGTABLE
{
    IDS_INSTALLING, "Идет установка программы %s..."
    IDS_COMPLETE, "Установка завершена успешно."
    IDS_ERROR, "При установке произошла ошибка."
    IDS_COMPLETE_ALL, "Установка всех программ завершена успешно."
    IDS_CMD_NULL, "\t"
    IDS_CMD_EXEC, "\tВыполнить: %s %s"
    IDS_CMD_CMD, "\tВыполнить: %s"
    IDS_CMD_ALERT, "\tВывести сообщение"
    IDS_CMD_FAIL, "\tОшибка"
    IDS_CMD_CPDIR, "\tКопировать %s в %s"
    IDS_CMD_MKDIR, "\tСоздать папку %s"
    IDS_CMD_RMDIR, "\tУдалить %s"
    IDS_CMD_CPFILE, "\tКопировать %s в %s"
    IDS_CMD_RMFILE, "\tУдалить %s"
    IDS_CMD_MOVE, "\tПереместить %s в %s"
    IDS_CMD_RENAME, "\tПереименовать %s в %s"
}

//////////////////////////////////////////////////////////////////////////////

// TEXTINCLUDE

#ifdef APSTUDIO_INVOKED

1 TEXTINCLUDE
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE
BEGIN
    "#define APSTUDIO_HIDDEN_SYMBOLS\r\n"
    "#include <windows.h>\r\n"
    "#include <commctrl.h>\r\n"
    "#undef APSTUDIO_HIDDEN_SYMBOLS\r\n"
    "\0"
END

3 TEXTINCLUDE
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED

//////////////////////////////////////////////////////////////////////////////

